[user]
	name = Thomas Antonio
	email = thomas.antonio@gmail.com
[push]
	default = upstream
[color]
	ui = true
[merge]
	conflictstyle = diff3
[github]
	user = Tomesco
[credential]
	helper = osxkeychain
[core]
	editor = nano
	excludesfile = /Users/thomas/.gitignore_global
